<%= form_for(@article) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :short_content %><br />
    <%= f.text_field :short_content %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
