<div class="span6 offset7">
	<%= form_tag articles_path, :method => 'get', class: "form-search" do %>
		<%= text_field_tag :search, params[:search], class: "input-medium search-query" %>
		<%= submit_tag t('.search'), :name => nil, class: "btn btn-info" %>
	<% end %>
</div>
<h1 class="span6 listing"><%= t('.ensurence_articles') %></h1>
<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span2"></div>
      <div class="span8">
        <%= render @articles %>
      </div>
    </div>
  </div>
</div>